<!doctype html>
<html>
<body>
  <center>
  <table border=5 >
   <tr bgcolor="grey"><td>
   <h1 align='center'>AJAY KUMAR GARG ENGINEERING COLLEGE</h1>
      </td></tr>
    <tr>
    <td>
    <h3>
   <form method='get'>
      NAME OF STUDENT:  <input type="text"><br><br>
      FATHER NAME:         <INPUT TYPE='TEXT'><br><br>
      DATE OF BIRTH:        <input type="date"> 
      GENDER:                     <input type="radio" name="r">male
                                           <input type="radio" name="r">female<br><br>
      COURSE:                     <input type="radio" name="r">B.TECH
                                            <input type="radio" name="r">M.TECH
                                              <input type="radio" name="r">MCA<br><br>
      CATOGARY:                  <input type="radio" name='r'>GEN
                                             <input type="radio" name='r'>OBC
                                             <INput type="radio" name='r'>SC
                                            <input type="radio" name='r'>ST<br><br>
       EMAIL:                      <input type="text"><br><br> 
       ADDRESS:                  <input type="text"><br><br>
       MOBILE NO.:             <input type="numeric"><br><br>
        <center>  <input type="submit"value="submit">
       <input type="reset"></center>
   </form>
   </h3></td> 
    </tr>
 </table>
</center> 
</body>
</html>  